// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	text-align: center;
	text-decoration: none;
// background: -webkit-linear-gradient(to right, #243B55, #141E30);
// background: linear-gradient(to right, #243B55, #141E30); 
// color: white;

}

.done {
	color: red;
}